.shop-page {
  display: grid;

  grid-template-columns:
    320px 1fr;

  gap: 2rem;

  padding: 3rem;

background: var(--bg-color);
  min-height: 100vh;
}

.shop-sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-card {
  padding: 2rem;

  border-radius: 30px;

background: var(--card-bg);
 box-shadow: var(--shadow);
  h3 {
    margin-bottom: 1.5rem;

    color: var(--text-color);
  }

  input,
  select {
    width: 100%;

    padding: 1rem;

    border-radius: 14px;

    border: 1px solid var(--border-color);
    outline: none;

    font-size: 0.95rem;
  }

  button {
    width: 100%;

    margin-bottom: 0.8rem;

    padding: 0.9rem 1rem;

    border: none;

    border-radius: 14px;

    background: #f1f5f9;

    cursor: pointer;

    transition: 0.3s ease;

    font-weight: 600;

    &:hover,
    &.active {

      background:
        linear-gradient(
          135deg,
          #7c3aed,
          #ec4899
        );

      color: white;
    }
  }
}

.shop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;

  h2 {
    font-size: 2.5rem;

   color: var(--text-color);
  }

  p {
    color: #64748b;
  }
}

.products-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));

  gap: 2rem;
}

@media (max-width: 992px) {

  .shop-page {

    grid-template-columns: 1fr;

    padding: 1.5rem;
  }

}
.skeleton-grid {

  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(300px,1fr));

  gap: 2rem;
}
.search-box {

  position: relative;

  width: 100%;

  max-width: 500px;

  margin-bottom: 2rem;

  input {

    width: 100%;

    padding: 1rem 1.2rem;

    border-radius: 18px;

    border:
      1px solid var(--border-color);

    background: var(--card-bg);

    color: var(--text-color);

    outline: none;

    font-size: 1rem;
  }
}

.search-dropdown {

  position: absolute;

  top: 110%;

  left: 0;

  width: 100%;

  background: var(--card-bg);

  border-radius: 24px;

  overflow: hidden;

  box-shadow: var(--shadow);

  z-index: 100;
}

.suggestion-item {

  display: flex;
  align-items: center;

  gap: 1rem;

  padding: 1rem;

  cursor: pointer;

  transition: 0.3s;

  &:hover {

    background:
      rgba(124,58,237,0.08);

  }

  img {

    width: 55px;
    height: 55px;

    object-fit: cover;

    border-radius: 14px;
  }

  span {

    color: var(--text-color);

    font-weight: 500;
  }
}