.skeleton-card {

  border-radius: 30px;

  overflow: hidden;

  background: var(--card-bg);

  box-shadow: var(--shadow);
}

.skeleton-image {

  width: 100%;
  height: 320px;

  background: #e2e8f0;
}

.skeleton-content {
  padding: 1.5rem;
}

.skeleton-line {

  height: 16px;

  border-radius: 999px;

  background: #e2e8f0;

  margin-bottom: 1rem;
}

.short {
  width: 70%;
}

.tiny {
  width: 40%;
}

.shimmer {

  position: relative;

  overflow: hidden;
}

.shimmer::after {

  content: '';

  position: absolute;

  top: 0;
  left: -150px;

  width: 150px;
  height: 100%;

  background:
    linear-gradient(
      90deg,
      transparent,
      rgba(255,255,255,0.5),
      transparent
    );

  animation:
    shimmer 1.2s infinite;
}

@keyframes shimmer {

  100% {
    left: 100%;
  }

}